
*.pyc

*.DS_Store
 
/source/dist/*

/source/build/*

/source/test/*

*.conf

.ibrew

*.tmp

*.log

*.spec

/source/distro/win/release.nsh

/source/distro/win/LICENSE

*.zip

/source/pyinstaller/

/source/release/

/source/dmg/

*.dmg

*.exe